<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TextUtils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid-lg">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TextUtils</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Text Features
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Capitalize Text</a></li>
                  <li><a class="dropdown-item" href="#">Remove Spaces</a></li>
                  <li><a class="dropdown-item" href="#">Character Counter</a></li>
                  <li><a class="dropdown-item" href="#">Words Counter</a></li>
                  <li><a class="dropdown-item" href="#">Remove New Lines</a></li>
                </ul>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
      <div class="container my-3">
        <form method="get" action="">
          <div class="mb-3">
            <label for="inputText" class="form-label"><b>Enter Text Here</b></label>
            <textarea name="text" class="form-control" id="inputText" rows="4"></textarea>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="choice" id="capitalize", value="capitalize" checked>
            <label class="form-check-label" for="capitalize">Capitalize</label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Default radio
  </label>
          </div>
          <div class="container">
            <button id="analyze" class="btn btn-dark">Analyze</button>
          </div>
          
        </form>
          <div class="my-4">
            <label for="outputText" class="form-label"><b>Output Here</b></label>
            <textarea class="form-control" id="outputText" rows="4">{{analyzedText}}</textarea>
            <div class="formButtons">
              <button id="copy" class="btn btn-dark my-3">Copy</button>
            </div>
          </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
      <script>
        var outPutText = document.getElementById('outputText');
        var btnCopy = document.getElementById('copy');
        btnCopy.onclick = function(){
          if (outPutText.value != ""){
            outputText.focus();
            outputText.select();
            document.execCommand('copy');
            btnCopy.innerHTML = "Copied";
          }
          else{
            alert("Text does not exist");
          }
        }
     
        /*
        var txt;
        var userData;
        let buttonAnalyze = document.getElementById("analyze");
        let inputText = document.getElementById("inputText");
        buttonAnalyze.addEventListener('click', function(){
          txt = inputText.value;
          console.log(txt);
          $.ajax({
            method: 'POST',
            url: '',
            data: {
              'userText': txt,
            },
            dataType: 'JSON',
  
          });
          userData = "{{analyzedText}}";
          console.log(userData)
        })
*/
      </script>
  </body>
</html>